@use '../helpers' as *;

.comments {
	padding-block: rem(50);
	&__container {
	}
	&__title {
		max-width: rem(570);
		&:not(:last-child) {
			margin-bottom: rem(50);
		}
	}
	&__body {
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		gap: rem(30);
		&:not(:last-child) {
			margin-bottom: rem(84);
		}
	}
	&__item {
	}
	&__info {
		display: flex;
	}
	&__brands {
		display: flex;
		flex-wrap: wrap;
		gap: rem(20);
		align-items: center;
		justify-content: space-between;
	}
	&__call {
		p {
			color: var(--text-light);
			font-size: 1rem;
			line-height: 1.5; /* 150% */
			a {
				color: var(--color-5);
				&[href^='tel:'] {
					text-decoration: none;
					color: inherit;
				}
			}
		}
	}
}
.item-comments {
	border-radius: rem(10);
	border: rem(1) solid var(--border-color);
	padding: rem(52) rem(38);
	transition: var(--transition-base);
	@include hovera {
		border-color: transparent;
		box-shadow:
			0 100px 80px 0 rgba(0, 0, 0, 0.03),
			0 64.815px 46.852px 0 rgba(0, 0, 0, 0.02),
			0 38.519px 25.481px 0 rgba(0, 0, 0, 0.02),
			0 20px 13px 0 rgba(0, 0, 0, 0.01),
			0 8.148px 6.519px 0 rgba(0, 0, 0, 0.01),
			0 1.852px 3.148px 0 rgba(0, 0, 0, 0.01),
			3px 44px 54px 0 rgba(0, 0, 0, 0.08);
	}
	&__rating {
		&:not(:last-child) {
			margin-bottom: rem(34);
		}
	}
	&__stars-icon {
		height: rem(16.4);
		width: rem(96);
		fill: #fbb040;
	}
	&__text {
		p {
			color: var(--text-light);
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.75;
		}
		&:not(:last-child) {
			margin-bottom: rem(60);
		}
	}
	&__user {
		display: flex;
		column-gap: rem(20);
		align-items: center;
	}
	&__user-photo {
		width: rem(48);
		aspect-ratio: 1;
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__user-info {
	}
	&__user-name {
		font-size: 1rem;
		font-weight: 700;
		line-height: 1;
		&:not(:last-child) {
			margin-bottom: rem(5);
		}
	}
	&__user-city {
		color: var(--text-light);
		font-size: rem(14);
		line-height: 1;
	}
}

@media (min-width: rem(949.98)) {
	.comments {
		&__info {
			justify-content: space-between;
		}
		&__brands {
			flex: 0 0 60.4%;
		}
		&__call {
			flex: 0 0 26.6%;
		}
	}
}

@media (max-width: rem(949.98)) {
	.comments {
		&__info {
			flex-direction: column;
		}
		&__brands {
			&:not(:last-child) {
				margin-bottom: rem(35);
			}
		}
	}
}
