@use '../helpers' as *;

.deals {
	padding-block: rem(123);
	&__container {
	}
	&__header {
		&:not(:last-child) {
			margin-bottom: rem(50);
		}
	}
	&__nav {
		margin-bottom: rem(45);
	}
	&__body {
	}
	&__tabs {
	}
}
.header-deals {
	display: flex;
	column-gap: rem(15);
	&__text-block {
		flex: 1 1 auto;
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	&__text {
		p {
			font-size: 1rem;
			line-height: 1.5;
		}
	}
	&__link {
		flex-shrink: 0;
		align-self: flex-start;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding-inline: rem(33);
		min-height: rem(65);
		border-radius: rem(5);
		background: var(--color-1);
		box-shadow:
			0 100px 80px 0 rgba(248, 90, 71, 0.07),
			0 64.815px 46.852px 0 rgba(248, 90, 71, 0.05),
			0 38.519px 25.481px 0 rgba(248, 90, 71, 0.04),
			0 20px 13px 0 rgba(248, 90, 71, 0.04),
			0 8.148px 6.519px 0 rgba(248, 90, 71, 0.03),
			0 1.852px 3.148px 0 rgba(248, 90, 71, 0.02);
		color: var(--light);
		font-size: rem(17);
		font-weight: 500;
		line-height: 1;
		transition: background-color 0.2s ease;
		@include hovera {
			background-color: var(--button-hover);
		}
	}
}
.nav-deals {
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: rem(15) rem(54);
	}
	&__item {
	}
	&__button {
		background-color: transparent;
		border: none;
		font-size: rem(19);
		font-weight: 400;
		line-height: 1;
		transition: color 0.2s ease;
		&::after {
			content: '';
			display: block;
			height: rem(1);
			margin-top: rem(12);
			width: 0%;
			background-color: var(--color-1);
			transition: width 0.2s ease;
		}
		&:not(:has(.active)) {
			@include hovera {
				color: var(--color-1);
				&::after {
					width: 100%;
				}
			}
		}
		&.active {
			color: var(--color-1);
			&::after {
				content: '';
				margin-top: rem(12);
				display: block;
				height: rem(1);
				width: 100%;
				background-color: var(--color-1);
			}
		}
	}
}

.tabs-deals {
	&__body {
		display: none;
		gap: rem(30);
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		grid-auto-rows: rem(300);
		&.active {
			display: grid;
		}
	}
	&__item {
		position: relative;
		overflow: hidden;
		border-radius: rem(5);
		height: rem(300);
	}
	&__options {
		position: absolute;
		z-index: 10;
		top: rem(14);
		left: rem(14);
	}
	&__option {
		border-radius: rem(5);
		border: rem(1) solid var(--light);
		background: rgba(0, 0, 0, 0.4);
		color: var(--light);
		font-size: rem(12);
		padding: rem(6);
		transition: background-color 0.2s ease;
		&:not(:last-child) {
			margin-right: rem(6);
		}
		@include hovera {
			background: rgba(0, 0, 0, 0.6);
		}
	}
	&__image {
		overflow: hidden;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: scale 0.2s ease;
			@include hovera {
				scale: 1.05;
			}
		}
	}
}

@media (max-width: rem(697.98)) {
	.header-deals {
		flex-direction: column;
		row-gap: rem(15);
	}
}
