@use '../helpers' as *;

.header {
	position: absolute;
	top: 0;
	z-index: 100;
	// background-color: var(--bg-color-base);
	width: 100%;
	&__container {
		width: 100%;
		height: var(--header-height);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: rem(10);
		// background-color: var(--bg-color-base);
	}
	&__nav {
	}
	&__logo {
		color: var(--text-light);
		font-size: rem(23);
		font-weight: 800;
		line-height: 1;
	}
}
.nav {
	&__list {
		display: flex;
		column-gap: rem(43);
	}
	&__item {
	}
	&__link {
		color: var(--text-base);
		font-family: var(--font-family-accent);
		font-size: rem(16);
		font-weight: 700;
		line-height: 1;
		text-transform: capitalize;
		&::after {
			content: '';
			margin-top: rem(-2);
			display: block;
			width: 0;
			height: rem(1);
			background-color: var(--dark);
			transition: var(--transition-base);
		}
		@include hovera {
			&::after {
				width: 100%;
			}
		}
	}
	&__burger {
	}
}
.burger {
	display: none;
	background-color: transparent;
	border: none;
	flex-direction: column;
	row-gap: rem(6);
	span {
		display: inline-block;
		width: rem(25);
		height: rem(2);
		background-color: var(--dark);
		transition: var(--transition-base);
	}
}

@include mobile {
	.nav {
		&__list {
			flex-direction: column;
			row-gap: rem(20);
			align-items: center;
			position: absolute;
			padding-top: rem(20);
			bottom: 0;
			top: var(--header-height);
			width: 100%;
			left: -100%;
			height: 100vh;
			background-color: var(--bg-color-base);
			transition: var(--transition-base);
			&.nav-open {
				left: 0;
			}
		}
		&__link {
			font-size: rem(25);
		}
	}
	.burger {
		display: flex;
		&.burger-open {
			span {
				&:first-child {
					translate: 0 rem(8);
					rotate: 45deg;
				}
				&:nth-child(2) {
					width: 0;
					// scale: 0;
				}
				&:last-child {
					translate: 0 rem(-8);
					rotate: -45deg;
				}
			}
		}
	}
}
