@use '../helpers' as *;

.page {
	// margin-top: var(--header-height);
	flex: 1;
	&__hero {
	}
	&__how {
	}
	&__deals {
	}
	&__featured-listing {
	}
	&__comments {
	}
	&__newsletter {
	}
}

.title {
	font-size: rem(40);
	font-weight: 500;
	line-height: 1;
}

.logo {
	color: var(--text-light);
	font-size: rem(23);
	font-weight: 700;
	line-height: 1;
}
