@use '../helpers' as *;

.page {
	// margin-top: var(--header-height);
	flex: 1;
	&__hero {
	}
	&__how {
	}
	&__deals {
	}
	&__featured-listing {
	}
}

.title {
	font-size: rem(40);
	font-weight: 500;
	line-height: 1;
}
