@font-face {
	font-family: 'Manrope', sans-serif;
	src: url('../fonts/Manrope-Variable.woff2') format('woff2-variations');
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans', sans-serif;
	src: url('../fonts/DMSans-Variable.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

/* 
100 thin
200 extra light (ultra light)
300 ligth
400 regular (normal)
500 medium
600 semi bold (demi bold )
700 bold
800 extra bold (ultra bold)
900 black (heavy)
*/
