@use 'helpers' as *;

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	// position: relative;
	overflow: clip;
}

[class*='__container'] {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.visually-hidden {
	@include visually-hidden;
}
