@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';
@use './blocks/main';
@use './blocks/header';
@use './blocks/hero';
@use './blocks/how';
@use './blocks/deals';
@use './blocks/featured-listing';
@use './blocks/comments';
@use './blocks/footer';
